*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
node_modules
yarn.lock
./*.rules
./*.words
./*.lexicon
.DS_Store
tests.mk
TESTS.org
tests/binarization.bats
tests/debinarization.bats
tests/induction.bats
tests/parsing.bats
tests/unking.bats
tests/bats-dist/bats
tests/bats-dist/bats-exec-suite
tests/bats-dist/bats-exec-test
tests/bats-dist/bats-format-tap-stream
tests/bats-dist/bats-preprocess
tests/data/bin.mrg
tests/data/cli.lexicon
tests/data/cli.rules
tests/data/cli.words
tests/data/debin.mrg
tests/data/parsed.mrg
tests/data/parsing-testcli.lexicon
tests/data/parsing-testcli.rules
tests/data/sentences
tests/data/test.lexicon
tests/data/test.rules
tests/data/training.mrg
tests/data/unked.lexicon
tests/data/unked.mrg
tests/data/unked.rules
tests/run/bin.mrg
tests/run/cli.lexicon
tests/run/cli.rules
tests/run/cli.words
tests/run/debin.mrg
tests/run/parsed.mrg
tests/run/unked.mrg
